@mixin flex {
  display: flex;
}

@mixin flex-centered {
  @include flex();
  justify-content: center;
  align-items: center;
}

@mixin flex-center-row {
  @include flex();
  justify-content: center;
}

@mixin flex-between {
  @include flex();
  justify-content: space-between;
}

@mixin flex-left {
  @include flex();
  justify-content: flex-start;
}

@mixin flex-start-col {
  @include flex();
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@mixin flex-centered-col {
  @include flex();
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

