@mixin flex {
  display: flex;
}

@mixin flex-centered {
  @include flex();
  justify-content: center;
  align-items: center;
}

@mixin flex-between {
  @include flex();
  justify-content: space-between;
}