.wrap {
  max-width: 1170px;
  margin: 50px auto;
  text-align: center;

  &--nav {
    @include flex-between();
  }

  &__title {
    text-align: center;
    margin: 0;
    font-family: Gotham, sans-serif;
    font-size: 44px;
    font-weight: 700;
    line-height: 22px;
    text-transform: uppercase;
    padding: 95px 0 108px;
    position: relative;

    &:before {
      content: '';
      border-top: 1px solid $dark;
      width: 100px;
      height: 1px;
      position: absolute;
      bottom: 173px;
      transform: translateX(110%);
    }

    &--white {
      padding: 183px 0 54px;

      &:before {
        border-color: $white;
        bottom: 119px;
      }

    }

    &--center {
      &:before {
        transform: translateX(55%);
      }

    }
  }
}